/* Write your CSS here */
.main {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  height: 100vh;
  font-family: roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.head {
  color: #fff;
}
.btn {
  background-color: #fff;
  color: #dd1264;
  padding: 7px;
  border-radius: 5px;
  border-width: 0px;
}
.names-card {
  display: flex;
  justify-content: space-around;
}
.each-card {
  margin-right: 40px;
}
.f-name {
  background-color: #fddddb;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  padding: 20px;
}
